body {
  font-family: var(--font-inter);
}

/* Lenis Smooth Scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-spartan);
}

button,
input,
select,
textarea {
  font-family: inherit;
}
